.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .nav-link {
    color: #ffffff;
    margin-left: 20px;
    border-radius: 15px;
    letter-spacing: 0.5px;
}

.navbar .btn {
    margin-left: 20px;
}

.navbar .btn-logout {
    background-color: #dc3545;
    border: none;
}

.navbar .btn-logout:hover {
    background-color: #c82333;
}

.custom-navbar {
    background-color: #343a40;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}