.custom-navbar {
    background-color: #333;
}

.custom-navbar .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.custom-navbar .ms-auto {
    margin-left: auto;
}

.custom-btn {
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}