.custom-navbar {
    background-color: #333;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.custom-btn {
    border-radius: 50px;
    color: #fff;
    border: 1px solid transparent;
}

.custom-btn:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}